{% extends "base.html" %}

{% block content %}
<form method="POST" action="" novalidate>
    {{ form.hidden_tag() }}
    <div>
        {{ form.item.label }}<br/>{{ form.item(size=30) }}<br/>
        {% for error in form.item.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
{#    <div>#}
{#        {{ form.priority.label }}<br/>{{ form.priority(size=30) }}<br/>#}
{#        {% for error in form.priority.errors %}#}
{#            <span style="color: red;">[{{ error }}]</span>#}
{#        {% endfor %}#}
{#    </div>#}
    <div>{{ form.submit() }}</div>
    <table id="data" class="table table-striped">
            <thead>
            <tr>
                <th>Item</th>
                <th>Priority</th>
            </tr>
            </thead>
            <tbody>
            {% for todo_item in todo_list | sort(attribute="priority") %}
            <tr>
                <td>{{ todo_item.item }}</td>
                <td>{{ todo_item.priority }}</td>
                <td>
                    <button type="submit" name="increment" value="{{ todo_item.todo_id }}">
                        +
                    </button>
                    <button type="submit" name="decrement" value="{{ todo_item.todo_id }}">
                        -
                    </button>
                    <button type="submit" name="delete" value="{{ todo_item.todo_id }}">
                        Delete
                    </button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
</form>
{% endblock %}